---
import CartToggle from 'components/general/CartToggle.astro';
import Navigation from '../general/Navigation.astro';
import NavToggle from '../general/NavToggle.astro';
import SvgLink from '../general/SvgLink.astro';
import CartModal from 'components/general/CartModal.astro';

const { headerType } = Astro.props
---

<header id='header' class=`ResponsiveMargins | py-32 ${
  (headerType === 'overlay') ?'absolute w-full z-10' :' relative bg-clr-n5'}`> 
  <div class='MaxCenter FlexBetween'>

    <div class='md:hidden'>
      <NavToggle>
        <Navigation name='mobile' />
      </NavToggle>
    </div>

    <div class='flex items-center | gap-40 lg:gap-0'>
      <SvgLink name='logoHeader'/>
      <div class='hidden md:contents'>
        <NavToggle>
          <Navigation name='mobile' />
        </NavToggle>
      </div>
    </div>

    <Navigation name='header'/>
    <CartToggle>
      <CartModal/>
    </CartToggle>

  </div>
</header>