---

---

<div>

</div>

<script>
  const storedItems = (localStorage.getItem('audiophileProductQuantity'))
  ?JSON.parse(localStorage.getItem('audiophileProductQuantity')!)
  :'empty cart'

  

</script>
