---
const { navArray } = Astro.props;

interface NavLink {
  name: string;
  path: string;
}
---

<nav
  class='flex items-center gap-8 w-full mdMax:hidden | tracking-[2px] text-13 uppercase font-bold'
>
  {
    navArray.map((current: NavLink) => (
      <a href={current.path} class='hover:text-clr-hover'>
        {current.name}
      </a>
    ))
  }
</nav>
