---
import { Icon } from 'astro-icon';
---

<div>
  <label class='lg:hidden cursor-pointer' id='label'>
    <input class='peer hidden' id='input' type='checkbox' />
    <Icon class='w-4 stroke-clr-default peer-checked:hidden' name='icon-hamburger' />
    <Icon class='hidden peer-checked:contents w-8 fill-clr-n1' name='x'  />
  </label>

  <div class='AbsoluteCenter w-full' id='childContainer'>
    <slot />
  </div>
</div>

<style>
  @media (max-width: 800px) {
    #label:has(#input:checked) {
      position: absolute;
      cursor: default;
      inset: 0;
      height: 100vmax;
    }

    #label:has(#input:checked) + #childContainer {
      top: 500px;
      transition: top 0.2s ease-out;
      box-shadow: 0 0 100vmax 100vmax rgb(0, 0, 0, 0.7);
    }
  }
</style>
