---
const { navArray } = Astro.props;

interface NavLink {
  name: string;
  path: string;
}
---

<nav
  class='flex flex-col md:flex-row items-center | gap-4 | text-13 tracking-[2px] uppercase font-bold'
>
  {
    navArray.map((current:NavLink) => (
      <a href={current.path} class='hover:text-clr-hover'>
        {current.name}
      </a>
    ))
  }
</nav>
