---
import { Icon } from 'astro-icon';

const { socialArray } = Astro.props;

interface NavLink {
  icon: string;
  path: string;
}
---

<nav class='flex gap-4 lg:-translate-y-20'>
  {
    socialArray.map((current:NavLink) => (
      <a href={`http://${current.icon}.com/${current.path}`}>
        <Icon
          class='w-6 fill-clr-n1 hover:scale-105 transition-all hover:fill-clr-hover'
          name={current.icon}
        />
      </a>
    ))
  }
</nav>
